@use '@backstabbersgame/design-system/styles/partials/colors' as colors;
@use '@backstabbersgame/design-system/styles/partials/typography' as typography;
@use '@backstabbersgame/design-system/styles/partials/breakpoints' as
  breakpoints;

.newsletter {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$neutral-0;
  margin-top: -1px;
}

.newsletter-container {
  width: 88vw;
  background: linear-gradient(90deg, #4547a9 0%, #282960 100%);
  // height: clamp(500px, 55vh, 600px);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  border-radius: 48px;
  margin: 20px 0;
  z-index: 0;
  position: relative;
  overflow: visible;
}

@media only screen and (width: 768px) {
  .newsletter-container {
    height: 75vh;
  }
}

.newsletter-content {
  position: relative;
  z-index: 2;
  padding: 0 16px;
}

.newsletter-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.header {
  color: colors.$neutral-0;
  font-size: typography.$font-size-20;
  font-weight: typography.$font-weight-bold;
}

.p {
  color: colors.$neutral-300;
  font-size: typography.$font-size-14;
  font-weight: typography.$font-weight-regular;
  white-space: normal;
  text-align: center;
  width: 350px;
}

.email {
  width: 88vw;
}

.btn {
  width: 100%;
  justify-content: center;
  margin-top: 23px;
  z-index: 50;
}

.status-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  height: 24px;
}

.message {
  visibility: hidden;
  height: 100%;
}

.message.success,
.message.error {
  visibility: visible;
}

.success {
  color: colors.$feedback-success-500;
}

.error {
  color: colors.$feedback-danger-500;
}

.image-container {
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // z-index: 1;
  // display: flex;
  // justify-content: center;
}

.image {
  max-width: none;
  margin: 0;
  z-index: -1;
  pointer-events: none;
}
@media only screen and (min-width: breakpoints.$tablet-min) {
  .newsletter {
    height: fit-content;
    justify-content: center;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 48px 0;
  }

  .newsletter-container {
    height: 294px;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 0;

  }

  .newsletter-content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }

  // .newsletter-content {
  //   position: relative;
  //   z-index: 2;
  //   padding: 0 16px;
  // }

  .newsletter-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }

  .header {
    font-size: typography.$font-size-20;
  }

  .p {
    white-space: pre-line;
  }

  .email {
    width: 308px;
  }

  .btn {
    width: 308px;
    margin-top: 0;
  }

  // .image-container {
  //   position: relative;
  //   z-index: 1;
  //   display: flex;
  //   justify-content: center;
  // }

  // .image {
  //   position: relative;
  //   bottom: 0;
  // }
}

@media only screen and (min-width: breakpoints.$laptop-min) {
  .newsletter {
    padding: 88px 0;
  }

  .newsletter-container {
    height: 325px;
    justify-content: normal;
  }

  .newsletter-content {
    height: 100%;
    width: 50%;

  }

  .header {
    font-size: typography.$font-size-32;
  }

  .p {
    white-space: pre-line;
    font-size: typography.$font-size-16;
  }
}

@media only screen and (min-width: breakpoints.$ultra-wide-screen) {
  .newsletter-container {
    width: 70vw;
  }
}
