@use '@backstabbersgame/design-system/styles/partials/colors' as colors;
@use '@backstabbersgame/design-system/styles/partials/typography' as typography;
@use '@backstabbersgame/design-system/styles/partials/breakpoints' as
  breakpoints;

.background {
  background: linear-gradient(180deg, #ffffff 0%, #f3f4f6 100%);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  padding: 16px 0;
  width: 88vw;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.h3 {
  color: colors.$neutral-600;
}

.number {
  color: colors.$primary-500;
  align-self: baseline;
  
}

.p {
  font-size: typography.$font-size-14;
  font-weight: typography.$font-weight-regular;
  color: colors.$neutral-600;
}

@media only screen and (min-width: breakpoints.$tablet-min) {
  .background {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container {
    padding: 16px 0 0 0;
    width: 100%;
  }
  .list {
    gap: 8px;
  }
}
