@use '@backstabbersgame/design-system/styles/partials/colors' as colors;
@use '@backstabbersgame/design-system/styles/partials/typography' as typography;
@use '@backstabbersgame/design-system/styles/partials/breakpoints' as
  breakpoints;

.background {
  background-color: colors.$neutral-50;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  padding: 16px 0;
  width: 88vw;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list {
  padding-top: 16px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon {
  fill: colors.$primary-500;
}

.h2 {
  color: colors.$neutral-600;
}

.p {
  font-size: typography.$font-size-14;
  font-weight: typography.$font-weight-regular;
  color: colors.$neutral-600;
}

@media only screen and (min-width: breakpoints.$tablet-min) {
  .background {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container {
    padding: 16px 0;
    width: 100%;
  }

  .list {
    gap: 12px;
  }

  .p {
    font-size: typography.$font-size-16;
    width: 100%;
  }
}

@media only screen and (min-width: breakpoints.$laptop-min) {
  .list {
    flex-direction: row;
    gap: 16px;
  }
}
