@use '@backstabbersgame/design-system/styles/partials/colors' as colors;
@use '@backstabbersgame/design-system/styles/partials/typography' as typography;
@use '@backstabbersgame/design-system/styles/partials/breakpoints' as
  breakpoints;

.background {
  background-color: colors.$neutral-0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  padding: 16px 0 24px 0;
  width: 88vw;
}
.header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.item {
  display: flex;
  gap: 4px;
}

.subList {
  list-style: none;
}

.sub{
  display: flex;
}

.h3 {
  color: colors.$neutral-600;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: colors.$primary-500;
  margin: 7px 7px 0 7px;
}

.p {
  font-size: typography.$font-size-14;
  font-weight: typography.$font-weight-regular;
  color: colors.$neutral-600;
  width: 95%;
}

@media only screen and (min-width: breakpoints.$tablet-min) {
  .background {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container {
    padding: 48px 0;
  }

  .list {
    padding-top: 32px;
    gap: 8px;
  }

  .h3 {
    font-size: typography.$font-size-24;
  }

  .p {
    font-size: typography.$font-size-16;
    width: 100%;
  }
}

@media only screen and (min-width: breakpoints.$laptop-min) {
  .background {
    background-color: transparent;
    width: 100%;
  }
  
  .container {
    width: 100%;
    padding: 64px 0;
  }
}
